.app-sidebar{
  width:30%;
  height:100Vh;
  border-right:1px solid #ddd;
}

.app-sidebar-header{
  display:flex;
  justify-content: space-between;
  padding: 25px;
  align-items: center;
}

.app-sidebar button {
  background: none;
  border:none;
  color:#08c;
  margin:0;
  padding:5px;
  font-size:16px;
  cursor:pointer;
  width:45px;
  height:40px;
  
}

.app-sidebar-header h1 {
  margin:0;
}

.app-sidebar-notes {
  height: calc(100Vh - 78px);
  overflow-y : scroll;
}

.app-sidebar-note {
  padding: 25px;
  cursor:pointer;
  transition: all 0.3s
}

.sidebar-note-title{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

 
.sidebar-note-content{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.app-sidebar-note p {
  margin: 10px 0;
}

.app-sidebar-note small{
  color:#999;
}

.app-sidebar-note:hover {
  background-color: #f1f0f0;
}

.app-sidebar-note.active{
  background-color: #f1f0f0;
}
